@font-face {
	font-family:"Proxima Nova";
	src:url(../fonts/ProximaNova-Light.ttf);
	font-weight:400;
}

@font-face {
	font-family:"Proxima Nova";
	src:url(../fonts/ProximaNova-Semibold.ttf);
	font-weight:600;
}


body, p, div, header, footer, input {
	margin: 0;
	padding: 0;
	font-family: "Proxima Nova",helvetica, sans-serif;
	font-size: 1em;
}

a {
	font-weight: 600;
	text-decoration: none;
}

body {
	background: black url('../images/backgroundEscher.jpg');
	color: white;
	margin: 2%;
}

h1 {
	margin: 40px 0;
	font-size: 2em;
	font-weight: 400;
	text-align: center;
}

footer {
	margin: 80px 0;
	text-align: center;
}


footer a {
	font-weight: 400;
	color: #CCCCCC;
	border-bottom: 1px #CCCCCC dotted;
}



#wrapper {
	width: 900px;
	margin: auto;
}

#content {
	color: black;
	background-color: #287199;
	-moz-box-shadow: 2px 2px 15px black;
	-webkit-box-shadow: 2px 2px 15px black;
	box-shadow: 2px 2px 15px black;
}

#content form {
	padding: 25px;
	height: 45px;
	background-color: #29ABE2;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66ccff), color-stop(100%,#29abe2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #66ccff 0%,#29abe2 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #66ccff 0%,#29abe2 100%);
	border-bottom: 3px solid #335B72;
}

#content input {
	-webkit-appearance: none;
	border-radius: 30px;
	border: 2px solid #B3B3B3;
	width: 83%;
	height: 30px;
	font-size: 1em;
	padding: 20px;
}

#content button {
	float: right;
	margin: 0;
	width: 15%;
	text-align: center;
	font-size: 1em;
	border-radius: 30px;
	padding: 12px 20px;
	background-color: #FFDD4D;
	border: 2px solid #D1B354;
	vertical-align: middle;
}

#content button:hover {
	background-color: #F15A24;
	border-color: #D8491D;
	color: white;
}

#content input[placeholder] {
	font-family: "Proxima Nova", helvetica, san-serif;
	font-weight: 400;
}

#content input:focus {
	-moz-box-shadow: 0 0 5px 3px #2190AA;
	-webkit-box-shadow: 0 0 5px 3px #2190AA;
	box-shadow: 0 0 5px 3px #2190AA;
	outline: none;
}

#output {
	padding-top: 25px;
	padding-bottom: 25px;
	background: #287199 url('../images/backgroundStripes.jpg');
}

#output a {
	color:black;
}

.entry {
	margin-left: 25px;
	margin-right: 25px;
	width: inherit;
	padding: 25px;
	vertical-align: middle;
	background-color: white;
	border-top: 2px solid #E6E6E6;
	border-left: 2px solid #E6E6E6;
	border-right: 2px solid #E6E6E6;
	font-size: 1.15em;
	color: black;
}

.img {
	position: relative;
	float: left;
	left: -25px;
	top: -25px;
	width: 68px;
	height: 68px;
	background-color: #E6E6E6;
}

.img:hover {
	opacity: .8;
}

.entry:hover {
	background-color: #FFE5B8;
}

.entry:first-child {
	
}

.entry:last-child {
	border-bottom: 2px solid #E6E6E6;
}

.entry-detail {
	font-weight: 400;
	float: right;
}

.noresult {
	text-align: center;
}

#footbar {
	padding-bottom: 25px;
	background: #29ABE2;
	border-top: 3px solid #5EC2E5;
}

#github {
	position: absolute;
	top: 0;
	right: 0;
}
